<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RestClient</display-name>
  
  <context-param>
      <param-name>authorizationEndpoint</param-name>
<!--      
      <param-value>https://localhost.outageanalyzer.com:7443/openam2/oauth2/authorize</param-value>
-->
      <param-value>https://ec2-54-226-44-149.compute-1.amazonaws.com:8443/openam/oauth2/authorize</param-value>
  </context-param>
  
  <context-param>
      <param-name>tokenEndpoint</param-name>
<!--      
      <param-value>https://localhost.outageanalyzer.com:7443/openam2/oauth2/access_token</param-value>
-->
      <param-value>https://ec2-54-226-44-149.compute-1.amazonaws.com:8443/openam/oauth2/access_token</param-value>
  </context-param>
 
  <context-param>
      <param-name>clientId</param-name>
      <param-value>test4</param-value>
  </context-param>
 
  <context-param>
      <param-name>clientSecret</param-name>
      <param-value>test4</param-value>
  </context-param>
 
  <context-param>
      <param-name>redirectUri</param-name>
      <param-value>https://localhost:9443/RestClient4/app/test</param-value>
  </context-param>

  <listener>
      <listener-class>com.compuware.oauth2.client4.OAuthConfigManager$Initializer</listener-class>
  </listener>
  
  <filter>
    <filter-name>OAuthFilter</filter-name>
    <filter-class>com.compuware.oauth2.client4.OAuthFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>OAuthFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>


    <!-- Handles all requests into the application -->
    <servlet>
        <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/spring/*.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Maps all /app requests to the DispatcherServlet for handling -->
    <servlet-mapping>
        <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login Servlet</servlet-name>
        <servlet-class>com.compuware.oauth2.client4.LoginServlet</servlet-class>
        <init-param>
            <param-name>defaultRedirectUrl</param-name>
            <param-value>
                /app/test
            </param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Login Servlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login View</servlet-name>
        <jsp-file>/WEB-INF/views/login.jsp</jsp-file>
    </servlet>

	<session-config>
	    <cookie-config>
	        <http-only>true</http-only>
	        <secure>true</secure>
	    </cookie-config>
	</session-config>
</web-app>